/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 5 version
*/

#btn-exit:hover {
    background-image: url("../img/L2UI_CH3.utx-Button.Btn1_normalOn(Texture)_0.png");
}

#btn-exit:hover {
    background-image: url("../img/L2UI_CH3.utx-Button.btn1_normal_over(Texture)_0.png");
}

#btn-exit {
    position: absolute;
    z-index: 20;
    top: 65%;
    left: 38%;
    right: 0;
    bottom: 0;
    width: 74px;
    height: 21px;
    background-image: url("../img/L2UI_CH3.utx-Button.Btn1_normal(Texture)_0.png");
    font-size: 13px;
    font-weight: 100;
    line-height: 21px;
}

.btn-close {
    position: absolute;
    top: 3px;
    right: 8px;
    bottom: 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.FrameCloseBtn\(Texture\)_0.png");

}

.btn-close:hover {
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.frameclosebtn_over(Texture)_0.png");
}

.btn-close:active {
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.FrameCloseOnBtn(Texture)_0.png");
}

.btn-hide {
    position: absolute;
    top: 3px;
    right: 26px;
    bottom: 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.FrameMiniBtn(Texture)_0.png");

}

.btn-hide:hover {
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.frameminibtn_over\(Texture\)_0.png");
}

.btn-hide:active {
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.FrameMiniOnBtn\(Texture\)_0.png");
}

#confirmation-window {
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 350px;

}

.close {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 22px;
    height: 22px;
    opacity: 1;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: #ffffff;
}

.close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.btn-header {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    position: relative;
    background-image: url("../img/btn_40x40.png");

}

.btn-header:hover {
    background-image: url("../img/btn_40x40_hover.png");
}
.btn-header:active {
    background-image: url("../img/btn_40x40_pressed.png");
}
.btn-header-2 {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    position: relative;
    background-image: url("../img/btn_40x40.png");
}

.btn-header-2:hover {
    background-image: url("../img/btn_40x40_hover.png");
}
.btn-header-2:active {
    background-image: url("../img/btn_40x40_pressed.png");
}

.nav-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    background-image: url("../img/L2UI_CH3.utx-Button.bigbutton2(Texture)_0.png");
    color: #e6d9be;
    font-size: 14px;
    line-height: 21px;
}
.nav-item:hover {
    background-image: url("../img/L2UI_CH3.utx-Button.bigbutton2_over(Texture)_0.png");
}

.nav-item:active {
    background-image: url("../img/L2UI_CH3.utx-Button.bigbutton2_down(Texture)_0.png");
}

.nav-item:disabled {
    background-image: url("../img/L2UI_CH3.utx-Button.bigbutton2_disabled(Texture)_0.png");
}

input, button, submit { border:none; } 


.collapsible {
    background-color: #2e2b25;
    color: #e6d9be;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid #514f4f;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #191511;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-top: 10px;

  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }