.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.preloader-bg {
    display: flex;
    justify-content: center;
    padding-top: 450px;
    width: 100%;
    height: calc(100% + 600px);
    background-color: #1d1512;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fading-bars {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 20px);
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.bar {
    width: 10px;
    height: 40px;
    background-color: #b09c60;
    animation: fade 1s infinite;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}

.bar:nth-child(4) {
    animation-delay: 0.6s;
}

.bar:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}