/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 5 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #222222;
    color: #e6d9be;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    position: relative;
    line-height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.app-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(22, 20, 18, 0.85);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    margin: 0px;
    height: 56px;
}



.logotype-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-header {
    /* border: solid 1px rgb(255, 0, 0); */
    height: 40px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: auto;
}

.logo-text-header {
    /* border: solid 1px rgb(255, 0, 0); */
    color: white;
    height: 40px;
    width: auto;
    text-align: right;
    font-size: 24px;
    line-height: 40px;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #000000;
}

header {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.lang-btn-hide {
    position: absolute;
    top: 3px;
    right: 26px;
    bottom: 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.FrameMiniBtn(Texture)_0.png");

}

.lang-btn-hide:hover {
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.frameminibtn_over\(Texture\)_0.png");
}

.lang-btn-hide:active {
    background-image: url("../img/L2UI_CH3.utx-FRAMECTRL.FrameMiniOnBtn\(Texture\)_0.png");
}

.lang-cont.hide {

    display: none;
}

.lang-cont {
    position: relative;
}

.container-inner-2>* {
    margin-left: 8px;
}

.flag {
    height: 16px;
    z-index: 11;

}

.container-inner-2 {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 20, 18, 0.85);
    position: relative;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}


.lang {
    width: 1000px;
    /* border: solid 1px rgb(255, 0, 0); */

}

.lang-2 {
    width: 100%;
    /* border: solid 1px rgb(255, 0, 0); */

}

.logotype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    /* border: solid 1px rgb(255, 0, 0); */
    height: 100px;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.logo-image {
    height: 100%;
    -webkit-filter: drop-shadow(black 1px 1px);
    filter: drop-shadow(black 1px 1px);
}

.logo-text {
    /* border: solid 1px rgb(255, 0, 0); */
    color: white;
    height: 100px;
    width: 764px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    padding-right: 36px;
    line-height: 100px;
    font-size: 36px;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #000000;
}

.link {
    text-decoration: none;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    position: relative;
    /* fix bug on iOS */
    /* height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; */
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -o-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.navigation-is-open main {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.main-header {
    font-size: 16px;
}

.navigation {
    display: none;
    width: 200px;
    height: auto;
    /* border: solid 1px rgb(255, 0, 0); */
}

.mob-nav {
    display: block;
    width: 200px;
    height: auto;
    /* border: solid 1px rgb(255, 0, 0); */
}

.gap {
    width: 16px;
    height: auto;
}

.gap-2 {
    width: 38px;
    height: auto;
}

.main-content {
    max-width: 100%;
    margin-top: 16px;
    position: relative;
    width: 100%;
    /* border: solid 1px rgb(255, 0, 0); */
    font-size: 14px;
}



.main-cont.hide {
    display: none;
}

.mob-content {
    max-width: 100%;
    margin: 0px;
    position: relative;
    width: 782px;
    /* border: solid 1px rgb(255, 0, 0); */
    font-size: 14px;
}

.mob-cont.hide {
    display: none;
}

.conf-cont {
    height: 150px;
    width: 100%;
    background-color: rgba(22, 20, 18, 0.85);
    position: relative;
    padding: 12px;

}

.conf-text {
    font-weight: 100;
    font-size: 14px;
}



.credits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.credits>* {
    padding: 8px;

}



.center-text {
    text-align: center;
}



.nav-section {
    position: relative;
}



.nav-section {
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s
}


.nav-header {
    height: 20px;
    line-height: 20px;
    background-image: url("../img/header_200.png");
    text-align: center;
    font-size: 11px;
}

/* .nav-header:hover {
    cursor: pointer;
} */

.header {
    font-size: 24px;
    line-height: 100%;
}

footer {
    margin-top: 16px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    /* fix bug on iOS */
    /* height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; */
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -o-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);

}

.navigation-is-open footer {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.footer {
    width: 100%;
    /* border: solid 1px rgb(255, 0, 0); */
    position: relative;
    display: block;
}


.middle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 20, 18, 0.85);
    position: relative;
    padding: 12px;
}

.container-inner-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.footer-credits {
    text-align: center;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    padding: 0px;
}

.under-flex-cont {
    display: block;
    width: 100%;
}

.cd-half-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (width >=1024px) {
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .link {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .flex {
        display: none;
    }

    .navigation {
        display: block;
    }

    .main-content {
        margin-top: 0px;
        width: 786px;
    }

    .mob-nav {
        display: none;
    }

    .footer {
        width: 1000px;
    }
}

@media (width >=1366px) {
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .link {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .flex {
        display: none;
    }

    .navigation {
        display: block;
    }

    .main-content {
        width: 886px;
    }

    .mob-nav {
        display: none;
    }

    .lang {
        width: 1100px;
    }

    .footer {
        width: 1100px;
    }

    .logo-text {
        width: 864px;
    }
}

@media (width >=1700px) {
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .link {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .flex {
        display: none;
    }

    .navigation {
        display: block;
    }

    .main-content {
        width: 1086px;
    }

    .lang {
        width: 1300px;
    }

    .footer {
        width: 1300px;
    }

    .mob-nav {
        display: none;
    }

    .logo-text {
        width: 1064px;
    }
}

table,
th,
td {
    border: 1px solid #000000;
    line-height: 100%;
}

p {
    margin: 0;
}

th {
    padding: 4px;
}

td {
    padding: 4px;
    /* white-space:nowrap; */
}

table {
    width: 100%;
    border-collapse: collapse
}

.table-1 tr>*:first-child>* {
    text-align: center;
    
}

table tr:nth-child(odd) {
    background-color: #191511;
}

table tr:nth-child(even) {
    background-color: #2e2b25;
}

.table-2 tr td>* {
    text-align: center;
}
.table-2 tr>*:first-child>* {
    text-align: center;
    width: 100%;
}
.items {
    margin-top: 8px;
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item {
    border: 1px solid wheat;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0 0 0.5rem crimson);
    filter: drop-shadow(0 0 0.5rem crimson);
}

.item-2 {
    border: 1px solid wheat;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0 0 0.5rem #e6d9be);
    filter: drop-shadow(0 0 0.5rem #e6d9be);
}

.item-3 {
    border: 1px solid wheat;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

span {
    color: red;
}

.icon-menu{
    display: flex;
    border: 1px solid wheat;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.25rem #63fa4f);
    width: 20px;
    height: 20px;
}

.icon-menu-2{
    display: flex;
    border: 1px solid wheat;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.25rem crimson);
    width: 20px;
    height: 20px;
}

.nav-text{
    left: 0px;
    line-height: 29px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}